.backdrop {
    background: rgb(200, 191, 231);
    background-image: url("back");
    color: #0f141e;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

h1,
h2 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.logoabsolutly{
    padding-top: 9%;
    width: 100%;
   padding-right: 15%;
    position: absolute;
    z-index: 2;
}


.container {
    /* max-width: 750px; */
    max-width: 39%;
    margin: auto;
    position: relative;
}

.containerup {
    /* max-width: 930px; */
    max-width: 49%;
    margin: auto;
    z-index: 1;
    position: relative;
}

.cardup {
    /* padding: 12px; */
    padding: 1%;
    background: rgba(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 0%;
    box-shadow: 0px 10px 10px 10px rgb(174, 184, 243);
}

.card {
    /* padding: 12px; */
    padding: 2%;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 2%;
    box-shadow: 0px 10px 10px 10px  rgb(174, 184, 243);
    position: relative;
}

@media only screen and (min-device-width:390px) and (max-device-width:844px) {

    * {
        zoom: 85%;
    }
    .logoabsolutly{
        padding-top:2% ;
    }

    .containerup {
        max-width: 75%;
    }

    .cardup {
        padding: 0.006%;
    }

    .container {
        max-width: 55%;
    }

    .card {
        padding: 1% 1% 1% 1%;
    }
   .rightkust {
       padding-top: 360%;
   }
   .leftkust {
    padding-top: 385%;
   }

}
/* knopka */
.cont {
    
    padding: 20%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

a {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #f4f4f4;
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(146, 148, 248, 0.4),
            transparent);
    transition: all 650ms;
}

.btn:hover:before {
    left: 100%;
}
.sidebar {
    padding-top: 14%;
    width: 15%;
    position: absolute;
    left: 0%;
    top: 0%;
    padding-right: 1%;
}
.sidebar img {
    
    position: absolute;
    width: 150%;
}
.kustsmalleft {
    padding-left: 100%;
}
.sidebar .kustsmalleft {
    width: 50%;
    padding-top: 110%;
}
.sidebar2 {
    padding-top: 12%;
    width: 16%;
    position: absolute;
    left: 70%;
    top: 0%;
    padding-right: 1%;
}
.kustsmal2{
    position: absolute;
    padding-left: 75%;
}
.kustarnik{
    padding-top: 110%;
    position: absolute;
    width: 50%;
    padding-left: 25%;
}
